.celula0{
    background-color: black;
  }
  .celula1{
    background-color: white;
  }
  .celula{
    width:10px;
    height:10px;
  }
  .tablero{
    display:flex;
    flex-wrap:wrap;
    width: 500px;
    height: 500px;
    margin: 0;
  }